<!DOCTYPE html>
<html lang="en-GB">
  {% set pathToLinkedFiles = '.' %}
  {% include "./partials/siteHead.njk" %}

  <body>
    <div class="hidden">
      {% include './partials/sprite.svg' %}
    </div>

    {% set showHomeLink = false %}
    {% include "./partials/header.njk" %}

    <div class="c-hero">
      <div class="container">
        <h1 class="c-hero__heading">{{ pageTitle }}</h1>
        <div class="c-hero__desc">
          <p>{{ metadata.description }}</p>
          <div class="c-hero__link-wrapper">
            <a class="c-hero__link c-hero__link--about" href="/about">About this project</a>
            <a class="c-hero__link c-hero__link--github" href="https://github.com/mbarker84/eleventy-parcel">Fork this on Github →</a>
          </div>
        </div>
      </div>
    </div>

    {{ content | safe }}

    {% include "./partials/footer.njk" %}

    <!--JS-->
    <script src="./index.js"></script>
  </body>
</html>