<!DOCTYPE html>
<html lang="en-GB">
  {% include "./partials/siteHead.njk" %}

  <body>
    <div class="hidden">
      {% include './partials/sprite.svg' %}
    </div>

    {% if page.url == '/' %}
      {% set showHomeLink = false %}
    {% else %}
      {% set showHomeLink = true %}
    {% endif %}

    {% include "./partials/header.njk" %}

    {% block content %}{% endblock %}

    {% include "./partials/footer.njk" %}
    <!--JS-->
    {% if version.js | length == 0 %}
      {% set JsVersion = '' %}
    {% else %}
      {% set JsVersion = version.js %}
    {% endif %}
    <script src="/index{{ JsVersion }}.js"></script>
  </body>
</html>