.c-header {
  background-color: $bgDark;

  @media (min-width: $md) {
    padding-right: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 5rem;
  }
}

.c-header__nav {
  margin-left: auto;
}

.c-header__list {
  @media (min-width: $md) {
    display: flex;
  }
}

.c-header__item {
  &:first-child {
    margin-left: auto;
  }
}

.c-header__link {
  padding: 0.5rem 1rem;
  color: $lightGrey;
  display: flex;
  align-items: center;
  min-height: 3rem;
  height: 100%;
  text-decoration: none;

  svg {
    margin-left: 0.5rem;
    width: 2rem;
    height: 2rem;
  }

  &:hover,
  &:focus {
    color: $white;
    text-decoration: underline;
  }

  @media (min-width: $md) {
    font-size: 1.1rem;
  }
}

.c-header__title {
  a {
    display: block;
    padding: 1rem;
    color: $accent;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  @media (min-width: $md) {
    font-size: 2rem;
  }
}
