.c-hero {
  min-height: 100vh;
  text-align: center;
  background-color: $bgDark;
  color: $white;
  padding: 0 0 5rem 0;
  display: flex;
  align-items: center;

  @media (min-width: $md) {
    padding: 10rem 0;
  }
}

.c-hero__heading {
  color: $accent;

  @media (min-width: $lg) {
    font-size: 6rem;
  }
}

.c-hero__desc {
  max-width: 50ch;
  margin: 0 auto;

  @media (min-width: $md) {
    font-size: 1.4rem;
  }
}

.c-hero__link-wrapper {
  max-width: 20rem;
  margin: 1rem auto;

  @media (min-width: $md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.c-hero__link {
  color: $accent;
  margin-top: var(--vr);

  &:hover,
  &:focus {
    color: $lightGrey;
  }
}

.c-hero__link--github {
  display: block;
  font-size: 80%;
  color: $lightGrey;
}
