.o-richtext {
  * + * {
    margin-top: var(--space-s);
  }

  * + h2,
  * + h3 {
    margin-top: var(--space-l);
  }

  ul {
    list-style-type: disc;
    margin-left: 2rem;
  }

  li + li {
    margin-top: var(--space-xs);
  }

  h2 + h3 {
    margin-top: var(--space-m);
  }

  pre {
    display: block;
    padding: 1rem;
    max-width: 40rem;
  }

  code,
  pre {
    background-color: color-mix(in srgb, var(--bgDark) 10%, white);
    border-radius: 0.25rem;
    font-size: 1rem;
  }

  h1 {
    margin-bottom: var(--space-m);
    padding-bottom: var(--space-m);
    border-bottom: 0.2rem solid;
  }
}
