{% if showHomeLink == true %}
  {% set headerClass = 'c-header--bg' %}
{% endif %}
<header class="c-header {{ headerClass }}">
  {% if showHomeLink == true %}
    <h3 class="c-header__title">
      <a href="/">{{ metadata.title }}</a>
    </h3>
  {% endif %}
  <nav class="c-header__nav">
    <ul class="c-header__list">
      {% for page in collections.page %}
        <li class="c-header__item">
          <a class="c-header__link" href="{{ page.url }}">{{ page.data.pageTitle }}</a>
        </li>
      {% endfor %}

      <li class="c-header__item">
        <a class="c-header__link" href="https://github.com/mbarker84/eleventy-parcel">
          Github
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30">
            <use href="#github"/>
          </svg>
        </a>
      </li>
      <li class="c-header__item">
        <a class="c-header__link" href="https://twitter.com/MicheBarks">
          Twitter
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30">
            <use href="#twitter"/>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</header>