{% if showHomeLink == true %}
  {% set headerClass = 'c-header--bg' %}
{% endif %}

<header class="c-header {{ headerClass }}" data-header="data-header">
  {% if showHomeLink == true %}
    <h3 class="c-header__title">
      <a href="/">{{ metadata.title }}</a>
    </h3>
  {% endif %}
  <button class="c-header__menu-btn" hidden="true" data-btn="menu" aria-haspopup="true">Menu</button>
  <div data-menu-wrapper="data-menu-wrapper">
    <nav class="c-header__nav">
      <ul class="c-header__list">
        <li class="c-header__item">
          <a class="c-header__link" href="/" hidden="true" data-home-link="data-home-link">Home</a>
        </li>

        {% for page in collections.page %}
          <li class="c-header__item">
            <a class="c-header__link" href="{{ page.url }}">{{ page.data.pageTitle }}</a>
          </li>
        {% endfor %}

        {% for item in menudata %}
          <li class="c-header__item">
            <a class="c-header__link" href="{{ item.url }}">
              {{ item.title }}
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30">
                <use href="#{{ item.icon }}"/>
              </svg>
            </a>
          </li>
        {% endfor %}

      </ul>
    </nav>
  </div>
</header>