<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>{{ metadata.title }}</title>
  <meta name="Description" content="{{ metadata.description }}">
  <link rel="stylesheet" href="{{ pathToLinkedFiles }}/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Amiri:wght@700&family=Lato:wght@400;600&display=swap" rel="stylesheet">
</head>